* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #efefef;
}

div {
  display: inline-block;
}

.container {
  width: 100%;
}

.nav {
  width: 100%;
  height: 7vh;
  background-color: #424242;
}

.tab:first-child {
  margin-left: 12%;
}

.tab {
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;
  width: 15%;
  height: inherit;
  color: #efefef;
  font-variant: small-caps;
  text-align: center;
}

.tab h3 {
  position: relative;
  top: 50%;
  transform: translateY(-70%);
}

.bar {
  width: 30%;
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;
  height: inherit;
  text-align: center;
}

.bar input {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  height: 4vh;
  font-size: 1.2em;
}
